@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    West Bengal<br />
    West Midnapore, 721102<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:arup9933076700@gmail.com">arup9933076700@gmail.com</a><br />
</address>